.newsletter {
  width: 85%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 150px 140px 0;
  margin-bottom: 150px;
  background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
  gap: 30px;

  h2 {
    color: #454545;
    font-size: 55px;
    font-weight: 600;
  }

  p {
    color: #454545;
    font-size: 20px;
  }

  &__emailform {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    width: 730px;
    height: 70px;
    border-radius: 80px;
    border: 1px solid #e3e3e3;

    input {
      width: 500px;
      margin-left: 30px;
      border: none;
      outline: none;
      color: #616161;
      font-size: 16px;
    }

    button {
      width: 210px;
      height: 70px;
      border-radius: 50px;
      background-color: black;
      color: white;
      font-size: 16px;
      cursor: pointer;
    }
  }
}

@media (max-width: 1280px) {
  .newsletter {
    padding: 0 80px;
    margin-bottom: 120px;
    gap: 20px;

    h2 {
      font-size: 36px;
    }

    p {
      font-size: 16px;
    }

    &__emailform {
      width: 600px;
      height: 60px;

      input {
        width: 400px;
      }

      button {
        width: 160px;
        height: 60px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .newsletter {
    margin-bottom: 60px;

    h2 {
      font-size: 30px;
    }

    p {
      font-size: 14px;
    }

    &__emailform {
      width: 500px;
      height: 50px;

      input {
        width: 300px;
        font-size: 14px;
      }

      button {
        width: 120px;
        height: 50px;
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 800px) {
  .newsletter {
    margin-bottom: 30px;
    height: 35vh;

    h2 {
      font-size: 18px;
    }

    p {
      font-size: 12px;
    }

    &__emailform {
      width: 400px;
      height: 40px;

      input {
        width: 200px;
        font-size: 13px;
      }

      button {
        width: 100px;
        height: 40px;
        font-size: 13px;
      }
    }
  }
}

@media (max-width: 500px) {
  .newsletter {
    width: 100%;
    height: 25vh;
    padding: 0;
    gap: 15px;

    h2 {
      font-size: 16px;
    }

    p {
      font-size: 13px;
      max-width: 200px;
      text-align: center;
    }

    &__emailform {
      width: 290px;

      input {
        width: 130px;
      }
    }
  }
}
