.cartproducts {
  margin: 100px 170px;

  hr {
    height: 3px;
    background-color: #e2e2e2;
    border: 0;
  }

  &__item-titles {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 75px;
    padding: 20px 0;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
  }

  &__item {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: start;
    gap: 75px;
    padding: 20px 0;
    color: #454545;
    font-size: 17px;
    font-weight: 500;

    p {
      text-align: start;
    }
  }

  &__icon {
    height: 62px;
  }

  &__btn-quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 50px;
    border: 2px solid #ebebeb;
    background-color: white;
  }

  &__remove-icon {
    width: 15px;
    margin: 0 40px;
    cursor: pointer;
  }

  &__down {
    display: flex;
    margin: 100px 0;
  }

  &__total-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;

    button {
      width: 252px;
      height: 58px;
      outline: none;
      border: none;
      background-color: #ff5a5a;
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
    }
  }

  &__total-item {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
  }

  &__promocode {
    flex: 1;
    font-size: 16px;
    font-weight: 500px;

    p {
      color: #555;
    }
  }

  &__promobox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 504px;
    margin-top: 15px;
    padding-left: 20px;
    height: 58px;
    background-color: #eaeaea;

    input {
      border: none;
      outline: none;
      background: transparent;
      font-size: 16px;
      width: 330xp;
      height: 50px;
    }

    button {
      width: 170px;
      height: 58px;
      font-size: 16px;
      background-color: black;
      color: white;
      cursor: pointer;
    }
  }
}

@media (max-width: 1280px) {
  .cartproducts {
    margin: 60px 50px;

    &__item-titles {
      grid-template-columns: 0.5fr 3fr 0.5fr 0.5fr 0.5fr 0.5fr;
      gap: 20px;
      padding: 15px 0;
      font-size: 15px;
    }

    &__item {
      grid-template-columns: 0.5fr 3fr 0.5fr 0.5fr 0.5fr 0.5fr;
      gap: 20px;
      padding: 15px 0;
      font-size: 15px;
    }

    &__icon {
      height: 50px;
    }

    &__remove-icon {
      margin: auto;
    }

    &__btn-quantity {
      width: 40px;
      height: 30px;
      margin-right: 10px;
    }

    &__down {
      margin: 80px 0;
      flex-direction: column;
      gap: 80px;
    }

    &__total-list {
      margin: 0;

      button {
        max-width: 200px;
        height: 45px;
        font-size: 13px;
      }
    }

    &__promobox {
      width: auto;
      max-width: 500px;

      input {
        width: 100%;
      }

      button {
        width: 120px;
        margin-left: -125px;
      }
    }
  }
}
