.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;

  &__logo {
    display: flex;
    align-items: center;
    gap: 20px;

    p {
      color: #383838;
      font-size: 46px;
      font-weight: 700;
    }
  }

  &__links {
    display: flex;
    gap: 50px;
    color: #252525;
    font-size: 20px;

    li {
      cursor: pointer;
    }
  }

  &__socials {
    display: flex;
    gap: 20px;
    div {
      padding: 10px;
      padding-bottom: 6px;
      background-color: #fbfbfb;
      border: 1px solid #ebebeb;
    }
  }

  &__copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 30px;
    color: #1a1a1a;
    font-size: 20px;

    span {
      width: 80%;
      border: none;
      border-radius: 10px;
      height: 3px;
      background-color: #c7c7c7;
    }
  }
}

@media (max-width: 800px) {
  .footer {
    gap: 20px;

    &__logo {
      gap: 10px;
      align-items: end;

      img {
        width: 40px;
      }

      p {
        font-size: 25px;
      }
    }

    &__links {
      font-size: 14px;
      gap: 10px;
    }

    &__socials {
      img {
        width: 22px;
      }
    }

    &__copyright {
      font-size: 13px;
    }
  }
}
