.login {
  width: 100%;
  height: 88%;
  background-color: #fce3fe;
  padding: 100px 0;

  &__container {
    width: 580px;
    height: 100%;
    background-color: white;
    padding: 40px 60px;
    margin: 40px auto;

    h2 {
      margin: 20px 0;
    }
  }

  &__fields {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;

    input {
      height: 72px;
      width: 100%;
      padding-left: 20px;
      outline: none;
      color: #5c5c5c;
      font-size: 18px;
      border: 1px solid #c9c9c9;
    }
  }

  button {
    width: 100%;
    height: 72px;
    color: white;
    background-color: #ff4141;
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
  }

  &__have-account {
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;

    span {
      color: #ff4141;
      font-weight: 600px;
    }
  }

  &__agree {
    margin-top: 25px;

    label {
      color: #5c5c5c;
      font-size: 18px;
      font-weight: 500;

      input {
        margin-right: 20px;
      }
    }
  }
}
