.shop-category {
  &__banner {
    display: block;
    margin: 30px auto;
    width: 82%;
  }

  &__indexSort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 170px;

    p {
      span {
        font-weight: 600;
      }
    }
  }

  &__sort {
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
  }

  &__products {
    margin: 20px 170px;
    display: flex;
    flex-wrap: wrap;
    gap: 80px 30px;
  }

  &__loadmorebtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 150px auto;
    width: 233px;
    height: 69px;
    border-radius: 75px;
    background-color: #ededed;
    color: #787878;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
  }
}
