.shop-category {
  &__banner {
    display: block;
    margin: 30px auto;
    width: 82%;
  }

  &__indexSort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 170px;

    p {
      span {
        font-weight: 600;
      }
    }
  }

  &__sort {
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
  }

  &__products {
    margin: 20px 170px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 80px 30px;
  }

  &__loadmorebtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 150px auto;
    width: 233px;
    height: 69px;
    border-radius: 75px;
    background-color: #ededed;
    color: #787878;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
  }
}

@media (max-width: 1280px) {
  .shop-category {
    &__banner {
      margin: 20px auto;
      width: 90%;
    }

    &__indexSort {
      width: 90%;
      margin: auto;

      p {
        font-size: 12px;
      }
    }

    &__sort {
      padding: 5px 10px;
      font-size: 12px;
    }

    &__products {
      width: 90%;
      margin: 10px auto;
      gap: 40px 30px;

      .item {
        margin: auto;
      }
    }

    &__loadmorebtn {
      margin: 100px auto;
      width: 200px;
      height: 60px;
      font-size: 16px;
    }
  }
}
