.product-display {
  display: flex;
  margin: 0 170px;

  &__left {
    display: flex;
    gap: 17px;
  }

  &__images {
    display: flex;
    flex-direction: column;
    gap: 16px;

    img {
      height: 163px;
    }
  }

  &__main-img {
    img {
      width: 586px;
      height: 700px;
    }
  }

  &__right {
    margin: 0 70px;
    display: flex;
    flex-direction: column;

    h2 {
      color: #3d3d3d;
      font-size: 40px;
      font-weight: 700;
    }

    button {
      padding: 20px 40px;
      width: 200px;
      font-size: 16px;
      font-weight: 600;
      color: white;
      background-color: #ff4141;
      margin-bottom: 40px;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }

  &__rating {
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;
  }

  &__prices {
    display: flex;
    margin: 40px 0;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
  }

  &__price-old {
    color: #818181;
    text-decoration: line-through;
  }

  &__price-new {
    color: #ff4141;
  }

  &__size {
    h2 {
      margin-top: 55px;
      color: #656565;
      font-size: 20px;
      font-weight: 600;
    }
  }

  &__sizes {
    display: flex;
    margin: 30px 0;
    gap: 20px;

    div {
      padding: 18px 24px;
      background-color: #fbfbfb;
      border: 1px solid #ebebeb;
      border-radius: 3px;
      cursor: pointer;
    }
  }

  &__category {
    margin-top: 10px;

    span {
      font-weight: 600;
    }
  }
}

@media (max-width: 1280px) {
  .product-display {
    margin: 0 60px;

    &__left {
      gap: 10px;
    }

    &__images {
      gap: 10px;

      img {
        height: 120px;
      }
    }

    &__main-img {
      img {
        width: auto;
        height: 510px;
      }
    }

    &__right {
      margin: 0 30px;
      h2 {
        font-size: 22px;
      }

      button {
        width: 150px;
        padding: 15px 0;
        margin-bottom: 20px;
      }
    }

    &__rating {
      gap: 3px;
      font-size: 13px;
    }

    &__prices {
      margin: 10px 0;
      font-size: 18px;
    }

    &__desc {
      font-size: 13px;
    }

    &__size {
      h2 {
        margin-top: 20px;
        font-size: 20px;
      }
    }

    &__sizes {
      div {
        padding: 14px 20px;
      }
    }

    &__category {
      margin-top: 5px;
      font-size: 14px;
    }
  }
}

@media (max-width: 1024px) {
  .product-display {
    margin: 0 30px;

    &__left {
      gap: 5px;
    }

    &__images {
      img {
        height: 80px;
      }
    }

    &__main-img {
      img {
        height: 350px;
      }
    }

    &__right {
      h2 {
        font-size: 18px;
      }

      button {
        width: 120px;
        padding: 10px 0;
        margin-bottom: 10px;
        font-size: 14px;
      }
    }

    &__rating {
      img {
        width: 15px;
      }
    }

    &__desc {
      font-size: 12px;
    }

    &__sizes {
      margin: 10px 0;
      div {
        padding: 10px 16px;
        font-size: 12px;
      }
    }

    &__category {
      font-size: 12px;
    }
  }
}

@media (max-width: 800px) {
  .product-display {
    margin: 0 10px;

    &__left {
      gap: 0;
      flex-direction: column-reverse;
      align-items: center;
    }

    &__images {
      flex-direction: row;
      gap: 6px;
      img {
        height: 70px;
      }
    }

    &__main-img {
      img {
        height: 300px;
      }
    }

    &__right {
      h2 {
        font-size: 14px;
      }

      button {
        width: 100px;
        font-size: 12px;
      }
    }

    &__rating {
      img {
        width: 13px;
      }
    }

    &__desc {
      font-size: 10px;
    }

    &__size {
      margin: 10px 0;
    }

    &__sizes {
      margin-top: 10px;
      gap: 5px;
      div {
        padding: 4px 11px;
      }
    }

    &__category {
      font-size: 10px;
    }
  }
}

@media (max-width: 500px) {
  .product-display {
    flex-direction: column;

    &__left {
      gap: 10px;
      flex-direction: row;
      margin: auto;
    }

    &__images {
      flex-direction: column;
      gap: 8px;
      img {
        height: 75px;
      }
    }

    &__main-img {
      img {
        height: 330px;
      }
    }

    &__right {
      margin: 5px;
      h2 {
        margin-top: 15px;
        font-size: 20px;
        font-weight: 500;
      }

      button {
        width: 130px;
        font-size: 15px;
        padding: 12px 0;
      }
    }

    &__rating {
      img {
        width: 15px;
      }
    }

    &__size {
      margin: 10px 0;
    }

    &__sizes {
      margin: 20px 0;
      gap: 10px;
      div {
        padding: 10px 16px;
        font-size: 14px;
      }
    }

    &__category {
      font-size: 16px;
    }
  }
}
